spring:
  datasource:
    url: jdbc:mysql://localhost:33306/ptpt
    username: ptpt
    password: qwer1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    baseline-on-migrate: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

# 로그 설정
logging:
  level:
    org.flywaydb: DEBUG
    root: INFO
    org.springframework.web: DEBUG
    com.example: DEBUG
    com.example.fitmate: DEBUG

# 서버 포트 설정
server:
  port: 9090

# Swagger UI 설정
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs

ptpt:
  upload:
    imagePath: classpath:img/feed   # 임시 개발 이미지 저장 경로